html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #fff;
}


.container {
	width: 1200px;
	margin: 0em auto
}
