html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #fff;
}


.container {
	width: 1200px;
	margin: 0em auto;
}

/* Banner */


#banner {
    text-align: center;
}

/* Page */


#page {
    overflow: hidden;
    background-color: #000;
    /*this is the bar at the top of the image in default page*/
    border-top: 10px solid #adaaaa;
    border-bottom: 10px solid #adaaaa; /**/
}

#page1 {
    text-align: center;
}


/* Content */


#content {
    float: right;
    width: 500px;
    padding: 50px;
    background-color: #000;
}


